.RubberBandDiv {
  white-space: pre;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  cursor: default;
  font-family: "Cabin Sketch", cursive;
  font-size: 7vh;
  align-self: center;
}

.RubberBand:hover {
  color: greenyellow;
}
