.About-main {
  background-color: #2196f3;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 5vh;
}

.About-title {
  font-family: "Cabin Sketch", cursive;
  font-weight: lighter;
  font-size: 7vh;
}

.About-text {
  font-family: "Roboto Condensed", sans-serif;
  font-size: large;
  text-align: center;
}

p {
  margin: 0.5vh;
}

.About-footer {
  min-width: 75vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  bottom: 5vh;
  align-items: baseline;
}

.About-links {
  text-decoration: none;
  color: white;
  font-size: medium;
}

.About-image {
  width: 4vw;
  height: 4vh;
}

.About-animations {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
  height: 42vw;
}
