.App {
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: thin; /*ONLY ON FIREFOX*/
  scrollbar-color: #0080ff transparent;
  height: 100vh;
  min-width: 100vw;
}

/*          BELOW CUSTOMIZING SCROLL-BAR WORKS IN CHROMIUM BASED BROWSERS*/
.App::-webkit-scrollbar {
  width: 0.5vw;
}
.App::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px transparent;
}
.App::-webkit-scrollbar-thumb {
  background-color: #0080ff;
}
