.App {
  display: flex;
  color: white;
  background-color: #282c34;
  justify-content: center;
  overflow-x: hidden;
  scrollbar-width: thin; /*ONLY ON FIREFOX*/
  scrollbar-color: #75b3fa #575858;
}

/*          BELOW CUSTOMIZING SCROLL-BAR WORKS IN CHROMIUM BASED BROWSERS*/

.App::-webkit-scrollbar {
  width: 0.5vw;
}

.App::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.App::-webkit-scrollbar-thumb {
  background-color: #75b3fa;
  outline: 1px solid slategrey;
}

/*          FLEX CSS LOGIC*/

.App-header {
  min-height: 100vh;
  min-width: 100vw;
}

.App-header-div {
  display: flex;
  text-align: center;
  flex-direction: row;
  max-height: 2vh;
  margin-top: 2%;
  margin-bottom: 2%;
}

.Title {
  font-family: 'Exo 2', sans-serif;
  font-weight: bold;
  font-size: x-large;
  color: white;
  text-decoration: none;
  flex-grow: 1;
  justify-content: center;
  cursor: pointer;
}

.App-header-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-grow: 1;
  font-family: 'Roboto', sans-serif;
  font-size: medium;
}

.Links {
  color: white;
  text-decoration: none;
  transition: color ls ease-in;
}

.Links:hover {
  cursor: pointer;
  color: aqua;
}

.activeLinks {
  text-decoration: none;
  font-size: large;
  color: aqua;
}
/*            SLIDE ANIMATION ON ROUTER*/

/*            PUSH*/

.slide-enter {
  transform: translate(100%);
}

.slide-enter.slide-enter-active {
  transform: translate(0%);
  transition: transform 1000ms ease-in-out;
}

.slide-exit {
  transform: translate(0%);
}

.slide-exit.slide-exit-active {
  transform: translate(-100%);
  transition: transform 1000ms ease-in-out;
}

/*                POP

.slide-back-enter {
  transform: translate(-100%);
}

.slide-back-enter.bg-back-enter-active {
  transform: translate(0%);
  transition: transform 1000ms ease-in-out;
}
.slide-back-leave {
  transform: translate(0%);
}
.slide-back-leave.bg-back-leave-active {
  transform: translate(100%);
  transition: transform 1000ms ease-in-out;
}
*/

/*                POSITIONING THE ANIMATION*/

div.transition-group {
  position: relative;
}

section.route-section {
  position: absolute;
  width: 100vw;
  top: 0;
  left: 0;
}
