.Article-container {
  display: flex;
  flex: 1;
  margin: 1vw;
  padding: 1vw;
  border: 1px solid white;
  border-radius: 3px;
}

code:not([class]) {
  display: inline-block;
  padding: 1vh;
  font-size: 90%;
  background-color: rgb(0, 0, 0, 0.5);
  border-radius: 3px;
}
