.ArticleCard-cont {
  flex: 1;
  color: white;
  text-decoration: none;
  margin: 1vh;
}

.ArticleCard-container {
  font-family: 'Exo 2', sans-serif;
  display: flexbox;
  flex: 1;
  padding: 1vw;
  background-color: rgb(20, 20, 70);
  cursor: pointer;
  border: 1px solid white;
  border-radius: 3px;
}

.ArticleCard-tag {
  display: inline-flex;
  background-color: rgba(0, 0, 0, 0.5);
  flex-shrink: 1;
  padding: 0.5vh;
  margin: 0.5vh;
  border-radius: 3px;
}

.ArticleCard-title {
  padding: 1vh;
  font-size: 30px;
  font-weight: bold;
}
