.CertificationCard-Container {
  display: flex;
  flex-direction: row;
  padding: 4vh 2vw 4vh 2vw;
  margin: 2vh 12vw 2vh 12vw;
  cursor: pointer;
  text-decoration: none;
}

.CertificationCard-Image {
  margin-right: 4vw;
}

.CertificationCard-Title {
  font-weight: bold;
  font-size: x-large;
  margin-bottom: 1vh;
}
