.svg-container {
  align-items: stretch;
  min-width: 60vw;
  height: 30vh;
}

#OuterR {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 9s linear forwards;
}

#InnerR {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 10s linear forwards;
}

#InnerInnerR {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 20s linear forwards;
}

#Blocks {
  fill: orange;
  fill-opacity: 0;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 40s linear forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
    fill-opacity: 0.75;
  }
}
