.App-main {
  display: flex;
  flex-direction: row;
  flex: 1;
  padding: 1vh 1vw;
}
.App-main-text-container {
  padding: 10vh 6vw;
  font-size: 18px;
  cursor: default;
}
.App-main-section {
  margin: 4vh 0 7vh 0;
}
.App-main-title {
  font-weight: bolder;
  font-size: 60px;
}
