.Projects-main {
  min-height: 100vh;
  margin-top: 2vh;
  padding: 1vw;
}

.grid-container {
  display: grid;
  justify-content: stretch;
  grid-template-columns: 32vw 33vw 32vw;
  grid-template-rows: 42vh 42vh 42vh;
  grid-column-gap: 0.33vw;
  grid-row-gap: 0.33vh;
  justify-items: stretch;
  align-items: stretch;
}
