.Projects-main {
  min-height: 100vh;
  padding: 1vw;
}

.grid-container {
  display: grid;
  justify-content: stretch;
  grid-template-columns: 33vw 33vw 33vw;
  grid-template-rows: 45vh 45vh 45vh;
  grid-column-gap: 0.33vw;
  grid-row-gap: 0.33vh;
  justify-items: stretch;
  align-items: stretch;
}
