.App {
  display: flex;
  color: white;
  background-color: #282c34;
  justify-content: center;
  overflow-x: hidden;
}

/*          CUSTOMIZING SCROLL BAR DOES'NT WORK IN FIREFOX*/

.App::-webkit-scrollbar {
  width: 1em;
}

.App::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.App::-webkit-scrollbar-thumb {
  background-color: rgb(0, 0, 0);
  outline: 1px solid slategrey;
}

/*          VIEWS*/

.App-header {
  min-height: 100vh;
  min-width: 100vw;
}

.App-header-div {
  display: flex;
  text-align: center;
  flex-direction: row;
  margin-top: 2%;
  margin-bottom: 2%;
}

.Title {
  font-family: "Exo 2", sans-serif;
  font-weight: bold;
  font-size: x-large;
  color: white;
  text-decoration: none;
  flex-grow: 1;
  justify-content: center;
  cursor: pointer;
}

.App-header-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-grow: 1;
  font-family: "Roboto", sans-serif;
  font-size: medium;
}

.Links {
  color: white;
  text-decoration: none;
}

.Links:hover {
  cursor: pointer;
  text-decoration: underline;
}

/*            SLIDE ANIMATION ON ROUTER*/

.fade-enter {
  transform: translate(100%);
}

.fade-enter.fade-enter-active {
  transform: translate(0%);
  transition: transform 1000ms ease-in-out;
}

.fade-exit {
  transform: translate(0%);
}

.fade-exit.fade-exit-active {
  transform: translate(-100%);
  transition: transform 1000ms ease-in-out;
}

div.transition-group {
  position: relative;
}

section.route-section {
  position: absolute;
  width: 100vw;
  top: 0;
  left: 0;
}
